main/node-red-data/flows.json
[{"id":"3ab75819.116498","type":"tab","label":"Server Test","disabled":false,"info":""},{"id":"4379947fe1f2320c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"52ec4b4fcc45f464","type":"mqtt-broker","name":"","broker":"192.168.2.125","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"077fe7b8281878c1","type":"mqtt in","z":"3ab75819.116498","name":"","topic":"/devices/create","qos":"2","datatype":"auto-detect","broker":"52ec4b4fcc45f464","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":60,"wires":[["862611699f77b771"]]},{"id":"862611699f77b771","type":"debug","z":"3ab75819.116498","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":60,"wires":[]},{"id":"18b2a4aab33e7376","type":"ubidots_out","z":"4379947fe1f2320c","name":"","token":"BBFF-yuSjhVpYLcEXJnw9wRQrCRDYuliqg4","label_device":"","device_label":"pasteurizer","tier":"business","tls_checkbox":true,"x":590,"y":220,"wires":[]},{"id":"f572ebf2a6239c56","type":"inject","z":"4379947fe1f2320c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Sensor1\": 28.2}","payloadType":"json","x":340,"y":220,"wires":[["18b2a4aab33e7376"]]},{"id":"4b9bf3323602b098","type":"inject","z":"4379947fe1f2320c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"S2\":23.4}","payloadType":"json","x":320,"y":160,"wires":[["18b2a4aab33e7376"]]}]